{% extends 'base.html.twig' %}

{% block title %}Hello JulesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
</div>
<head>
    <title>Delon Jules CV</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="moncss.css">
</head>
<body>
    <header>
        <h1 class="center">Delon Jules CV</h1>
        <img src="images/a.jpg" class="rond">
    </header>
    
    <section class="cadre">


            <h2 class="cadre">Qui suis-je ?</h2>
            <p>Je suis Jules Delon et je suis en 1ére année de réseau et Télecommunication à l'iut de Roanne.</p>
            <div class="prez">
                <a href="https://docs.google.com/document/d/1rmnr2W2mQ8MTzufBVeF8J5kEA7frYgZsSp2HbMdwRhQ/edit" download>Télécharger mon CV</a>
            </div>  
            
     
        </div>
    </section>
    <section class="cadre">
        <div class="prez2">
            <h2>Mes expériences professionelles</h2>
            <p>J'ai tout d'abbord fait un baccalauréat Scientifique que j'ai obtenu avec la mention assez bien, durant les vacances scolaires de 1ere j'ai travailler dans une entreprise déployant la fibre en Lozère, cette expérience m'a permis de m'orienter aujourd'hui, c'est pour cela que je suis en aller en DUT Réseaux et Telecommunication, cela fait maintenant 3ans que je travaille dans cette entreprise durant les vacances d'été</p>
        </div>
    
        


        </div>
    </section>
{% endblock %}