{% extends 'base.html.twig' %}

{% block title %}Hello JulesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
</div>
<head>
    <title>Delon Jules CV</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="moncss.css">
</head>
<body>
    
    <section class="cadre2">


        <h2 class="nom">Mes loisirs</h2>

            <p>Je suis un grand fan de football est plus particulierement de L'Olympique de Marseille. Je supporte cette équipe depuis que je suis tout petit.J'ai joué en club pendant 10 ans dans plusieurs équipe de Lozère</p>
        
            <img src="images/bg7.jpg" class="rond2">
</section>
     <section class="cadre2">
            <p>J'aime bien joué aux jeu vidéo également, et j'adore également les voyages car j'en ai fais plusieurs et cela restera dans ma mémoire toute ma vie</p>
            <img src="images/bg8.jpg" class="rond3">
            <img src="images/bg9.png" class="rond4">



{% endblock %}