{% extends 'base.html.twig' %}

{% block title %}Hello JulesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="h3gauche">
    <h1>Portoflio Des Compétences</h1>
</div>
<section class="bg-comp">
    
    <h2 class="h2gauche">Compétences</h2>
    <h3 class="h3gauche">Administrer les réseaux et l'Internet</h3>
    <div class="comp">
        <p>Installer un poste client</p>
        <div class="conteneur-barre"><span class="barre c100"></span></div>
    </div>
    <div class="comp">
        <p>Savoir identifier les dysfonctionnements du réseau local</p>
        <div class="conteneur-barre"><span class="barre c80"></span></div>
    </div>
    <div class="comp">
        <p>Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation</p>
        <div class="conteneur-barre"><span class="barre c90"></span></div>
    </div>
    <div class="comp">
        <p>Configurer les fonctions de base du réseau local</p>
        <div class="conteneur-barre"><span class="barre c100"></span></div>
    </div>
</div>
<section class="bg-comp">
    
    <h2 class="h2gauche">Connecter les entreprises et les usagers</h2>
    <h3 class="h3gauche"></h3>
    <div class="comp">
        <p>Mesurer et analyser les signaux</p>
        <div class="conteneur-barre"><span class="barre c100"></span></div>
    </div>
    <div class="comp">
        <p>Déployer des supports de transmission</p>
        <div class="conteneur-barre"><span class="barre c80"></span></div>
    </div>
    <div class="comp">
        <p>Caractériser des systèmes de transmissions </p>
        <div class="conteneur-barre"><span class="barre c50"></span></div>
    </div>
    <div class="comp">
        <p>Communiquer avec un client ou un collaborateur</p>
        <div class="conteneur-barre"><span class="barre c75"></span></div>
    </div>
</section>
</div>
<section class="bg-comp">
    
    <h2 class="h2gauche">Créer des outils et applicationsinformatiques pour les R&T</h2>
    <h3 class="h3gauche"></h3>
    <div class="comp">
        <p>Utiliser un système informatique et ses outils</p>
        <div class="conteneur-barre"><span class="barre c100"></span></div>
    </div>
    <div class="comp">
        <p>Lire, exécuter, corriger et modifier un programme</p>
        <div class="conteneur-barre"><span class="barre c40"></span></div>
    </div>
    <div class="comp">
        <p>Traduire un algorithme, dans un langage et pour un environnement donné</p>
        <div class="conteneur-barre"><span class="barre c50"></span></div>
    </div>
    <div class="comp">
        <p>S’intégrer dans un environnement propice au développement et au travail collaboratif</p>
        <div class="conteneur-barre"><span class="barre c75"></span></div>
    </div>
</section>
{% endblock %}
